# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Puchok\Desktop\spring-app\postapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignore IDE specific files
.idea/
# Ignore the target directory
target/
# Ignore iml files
postapp
*.iml.idea
target/
postapp.iml
/app.log.2020-11-11.0.gz
/app.log.2020-11-12.0.gz
/app.log.2020-11-13.0.gz
/app.log.2020-11-14.0.gz
