<html>

<body>

    <div>
        <form method="post">
            <input type="text" name="postNumber" placeholder="Postcard's number"/>
            <input type="text" name="country" placeholder="Postcard's country"/>
            <button type="submit" > add postcard</button>
        </form>
    </div>
    <div>Postcard's list</div>
    {{#postcards}}
        <div>
            <b>{{id}}</b>
            <span>{{postNumber}}</span>
            <i>{{country}}</i>
        </div>
    {{/postcards}}
</body>
</html>